*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.head{
    margin-left: 30px;
}
.head h1{
    font-size: 50px;
}
.head .info{
    margin-top: 20px;
}

.left{
    margin-left: 30px;
    width: 45%;
    border-left: 2px dashed black;
}
.right{
    width: 45%;
    float: right;
    margin-top: -560px;
    border-left: 2px dashed black;
}







 
